// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/.

.btn2 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn2:hover {
    color: #212529;
    text-decoration: none;
}

.btn2:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(121, 57, 185, 0.5);
}
  
.btn2.disabled, .btn:disabled {
    opacity: 0.65;
}
  
a.btn2.disabled, fieldset:disabled a.btn {
    pointer-events: none;
}
  

.btn-exped {
    color: #fff;
    background-color: #521b89;
    border-color: #521b89;
}
  
.btn-exped:hover {
    color: #fff;
    background-color: #42186d;
    border-color: #331253;
}

.btn-exped:focus, .btn-exped.focus {
    color: #fff;
    background-color: #42186d;
    border-color: #331253;
    box-shadow: 0 0 0 0.2rem rgba(73, 29, 117, 0.5);
}
  
.btn-exped.disabled, .btn-exped:disabled {
    color: #fff;
    background-color: #521b89;
    border-color: #521b89;
}
  
.btn-exped:not(:disabled):not(.disabled):active, .btn-exped:not(:disabled):not(.disabled).active,
  .show > .btn-exped.dropdown-toggle {
    color: #fff;
    background-color: #331253;
    border-color: #331253;
}
  
.btn-exped:not(:disabled):not(.disabled):active:focus, .btn-exped:not(:disabled):not(.disabled).active:focus,
  .show > .btn-exped.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(73, 29, 117, 0.5);
}

// Simple-line-icon
.text-exped {
    color: #521b89 !important;
}

//Font-awesome
.social {
    color: #521b89;
    text-decoration:none;
    background-color:transparent
}

.social:hover {
    color:#42186d;
    // text-decoration:underline
}

.social:not([href]) {
    color:inherit;
    text-decoration:none;
}

.social:not([href]):hover {
    color:inherit;
    text-decoration:none;
}